<div class="card">
  <div class="card-body">
    <%= polymorphic_url(@visitors.url, only_path: false) %>
  </div>
</div>
<br/>

<h3>Top referers</h3>
<%= render 'table', collection: @visitors.top_referers, field: 'referer' %>

<h3>Top browsers</h3>
<%= render 'table', collection: @visitors.top_browsers, field: 'browser_name' %>
