<% if target.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% target.errors.messages.each do |_, msg| %>
        <li><%= msg.join(', ') %></li>
      <% end %>
    </ul>
  </div>
<% end %>
